  @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,500&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: Cabin, sans-serif;
  color:white;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 17px;
}
h3{
  font-size: 15px;
}
p{
  font-size: 12px;
}
span{
  font-size: 10px;
}
.yellow_rectangle{
  height: 2px;
  width: 17px;
  background:#FFCD04
}
main{
  
  max-width:595px;
  /* min-height: 700px; */
  display:grid;
  grid-template-columns: 45% 55% ;
  grid-template-rows: 1fr 578px;
  margin: 0 auto;
}

/* section Avatar */
.avatar{
  position: relative;
}
.avatar::before{
 content:"";
 position:absolute;
 height:100%;
 width: 48px;
background:#FFCD04B2;
right: 206px;
}

.avatar > img{
  height:100%;
  /* width:254px; */
  float: right;
}

/* section Profile */
.profile{
  /* background: rgb(150, 125, 125); */
  padding:66px 14px 6px 32px;
  color:black;
}
.profile > h3{
  margin-top:6px;
  margin-bottom:29px;
}
.profile .yellow_rectangle{
  margin: 11px 0;
}
.profile > p{
  font-size: 10px;
}
.yellow_bg{
  background:#FFCD04;
  width: 106px;
  padding-left: 6px;
}
/* section Education */
.education{
  background: #292935;
  position:relative;
}
.grey_line{
  width: 135px;
  height: 4px;
  background:#5E5D6B;
}
.yellow_line{
  width: 115px;
  height: 100%;
  background:#FFCD04;
  position: relative;
}
.yellow_line::after{
  content:'';
  position: absolute;
  right: 0;
  top:-1px;
  width: 2px;
  height: calc(100% + 2px);
  background:#FFCD04;
}
.w58{
  width: 56px;
}
.w41{
  width: 41px;
}
.w39{
  width: 39px;
}
.expertise{

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30px 30px 30px 30px;
  /* justify-items:start ; */
  align-items: center;
}
.contacts{
  display:flex;  
  position:absolute;
  bottom: 0;
}

.contact_img{
  display:flex;
  flex-direction: column;
  background:#FFCD04;
  width: 37px;
  height: 108px;
  align-items:center;
  justify-content: space-around;
}
.contact
{
  display:flex;
  flex-direction: column;
}
.contacts img{
  width: 15px;
  height: 15px;
  object-fit:contain;
}
/* section Work */
.work{
  background: #22222E;
}








@media (max-width: 550px) {
  main {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 577px 577px;
  }
}
